@model AppointmentViewModel
<form method="post" action="/appointment/edit/" class="">
    @Html.AntiForgeryToken()
    <input hidden name="Appointment.Id" value="@Model.Appointment.Id">
    <div class="py-5">
        <div>
            <h3 class="text-lg leading-6 font-bold font-source text-fysio-header">Appointment</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 font-roboto">Appointment details and information.</p>
        </div>
    </div>
    <hr/>
    <div class="py-5 font-roboto">
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-1">
                @if (@Model.Therapists != null)
                {
                    <label for="practitioner" class="block text-sm font-medium text-gray-700">Therapist:</label>
                    <select
                        asp-for="Appointment.TherapistId"
                        id="practitioner"
                        name="Appointment.TherapistId"
                        autocomplete="off"
                        class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        @foreach (var therapist in Model.Therapists)
                        {
                            <option value="@therapist.Id">@therapist.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Appointment.TherapistId" class="text-danger"></span>
                }
                else
                {
                    <label for="practitioner" class="block text-sm font-medium text-gray-700">Patient:</label>
                    <select
                        id="practitioner"
                        name="Appointment.PatientId"
                        autocomplete="off"
                        class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option selected value="@Model.Patient.Id">@Model.Patient.Name</option>
                        <span asp-validation-for="Appointment.PatientId" class="text-danger"></span>
                    </select>
                }
            </div>
        </div>
        <div class="grid grid-cols-4 gap-6 mt-3">
            <div class="col-span-1">
                <label for="treatment" class="block text-sm font-medium text-gray-700">Treatment:</label>
                <select
                    id="treatment"
                    asp-for="Appointment.TreatmentId"
                    name="Appointment.TreatmentId"
                    autocomplete="off"
                    class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="@null">Seperate appointment</option>
                    @Model.Appointment.TreatmentId
                    @foreach (var treatment in Model.Treatments)
                        {
                            @if (@Model.Appointment.TreatmentId == @treatment.Id)
                            {
                                <option selected value="@treatment.Id">@treatment.Type</option>
                            }
                            else
                            {
                                <option value="@treatment.Id">@treatment.Type</option>
                            }
                        }
                </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="StartTime" class="block text-sm font-medium text-gray-700">Appointment date</label>
                @Html.EditorFor(m => m.Appointment.Date, new { htmlAttributes = new { @class = "ipt text-sm" } })
                <span asp-validation-for="Appointment.Date" class="text-danger"></span>
            </div>
        </div>
    </div>
      <div class="flex">
            <a class="btn-back" href="/appointment">Back</a>
            <div class="flex flex-1 justify-end">
                <div class="flex">
                    <div v-if="isLoading" class="sk-chase mr-4 my-auto">
                      <div class="sk-chase-dot"></div>
                      <div class="sk-chase-dot"></div>
                      <div class="sk-chase-dot"></div>
                      <div class="sk-chase-dot"></div>
                      <div class="sk-chase-dot"></div>
                      <div class="sk-chase-dot"></div>
                    </div>
                    <button v-on:click="isLoading = true" value="Create" type="submit" class="btn">
                        Edit appointment
                    </button>
                </div>
            </div>
        </div>
</form>