@model PatientViewModel;
<div class="">
    <div class="py-5">
        <div>
            <h3 class="text-lg leading-6 font-bold font-source text-fysio-header">Patient File</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 font-roboto">Patients details and information.</p>
        </div>
    </div>
    <hr/>
    <div class="py-5 font-roboto">
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-2">
                <label for="diagcode" class="block text-sm font-medium text-gray-700 mb-2">Diagnose Code</label>
                <select asp-for="Patient.PatientFile.DiagnoseCode" class="dropdown ipt" name="Patient.PatientFile.DiagnoseCode">
                    @foreach (var diagnose in @Model.Diagnoses)
                    {
                        if (diagnose.DiagnoseCode.ToString() == @Model.Patient.PatientFile.DiagnoseCode)
                        {
                            <option selected>@diagnose.DiagnoseCode: @diagnose.BodyLocation @diagnose.BodyLocation</option>
                        }
                        else
                        {
                            <option value="@diagnose.DiagnoseCode.ToString()">@diagnose.DiagnoseCode: @diagnose.BodyLocation @diagnose.Pathology</option>
                        }
                    }
                </select>
                <span asp-validation-for="Patient.PatientFile.DiagnoseCode" class="text-danger"></span>
            </div>
            <div class="col-span-1">
                <label for="TherapistType" class="block text-sm font-medium text-gray-700">Student / Teacher</label>
                <select
                    asp-for="Patient.PatientFile.TherapistType"
                    id="TherapistType"
                    name="Patient.PatientFile.TherapistType"
                    autocomplete="off"
                    class="
                            mt-1
                            block
                            w-full
                            py-2
                            px-3
                            border border-gray-300
                            bg-white
                            rounded-md
                            shadow-sm
                            focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
                            sm:text-sm
                        ">
                    <option>Student</option>
                    <option>Teacher</option>
                </select>
            </div>
        </div>
        <div class="mt-6">
            <label for="altmail" class="block text-sm font-medium text-gray-700">Issue description</label>
            <textarea
                    asp-for="Patient.PatientFile.Description"
                    placeholder="A lot of text"
                    type="text"
                    name="Patient.PatientFile.Description"
                    id="altmail"
                    autocomplete="off"
                    class="ipt mt-1 outline-none block focus:ring-indigo-500 focus:border-indigo-500 w-full sm:text-sm"
                ></textarea>
            <span asp-validation-for="Patient.PatientFile.Description" class="text-danger"></span>
        </div>
        <div class="grid grid-cols-4 gap-6 mt-6">
            <div class="col-span-1">
                <label for="interviewer" class="block text-sm font-medium text-gray-700">Interviewer</label>
                <select
                    asp-for="Patient.PatientFile.InterviewerId"
                    id="interviewer"
                    name="Patient.PatientFile.InterviewerId"
                    autocomplete="off"
                    class="
                            mt-1
                            block
                            w-full
                            py-2
                            px-3
                            border border-gray-300
                            bg-white
                            rounded-md
                            shadow-sm
                            focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
                            sm:text-sm
                        ">
                    @foreach (var therapist in Model.Therapists)
                    {
                        if (therapist.Name == User.Identity.Name.Replace(".", " "))
                        {
                            <option selected value="@therapist.Id">@therapist.Name</option>
                        }
                        else
                        {
                            <option value="@therapist.Id">@therapist.Name</option>
                        }
                    }
                </select>
            </div>
            @if (User.IsInRole("Student"))
            {
                <div class="col-span-1">
                    <label for="supervisor" class="block text-sm font-medium text-gray-700">Under supervision from:</label>
                    <select
                        asp-for="Patient.PatientFile.SupervisorId"
                        id="supervisor"
                        name="Patient.PatientFile.SupervisorId"
                        autocomplete="off"
                        class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        @foreach (var therapist in Model.Therapists)
                        {
                            <option value="@therapist.Id">@therapist.Name</option>
                        }
                    </select>
                </div>
            }
            <div class="col-span-1">
                <label for="practitioner" class="block text-sm font-medium text-gray-700">Practitioner:</label>
                <select
                    asp-for="Patient.PatientFile.PractitionerId"
                    id="practitioner"
                    name="Patient.PatientFile.PractitionerId"
                    autocomplete="off"
                    class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    @foreach (var therapist in Model.Therapists)
                    {
                        if (therapist.Name == User.Identity.Name.Replace(".", " "))
                        {
                            <option selected value="@therapist.Id">@therapist.Name</option>
                        }
                        else
                        {
                            <option value="@therapist.Id">@therapist.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-span-1">
                <label for="RegisterDate" class="block text-sm font-medium text-gray-700">Register Date</label>
                @Html.EditorFor(m => m.Patient.PatientFile.RegisterDate, new { htmlAttributes = new { @class = "ipt text-sm" } })
                <span asp-validation-for="Patient.PatientFile.RegisterDate" class="text-danger"></span>
            </div>
            <div class="col-span-1">
                <label for="DischargeDate" class="block text-sm font-medium text-gray-700">Discharge Date</label>
                @Html.EditorFor(m => m.Patient.PatientFile.DischargeDate, new { htmlAttributes = new { @class = "ipt text-sm" } })
                <span asp-validation-for="Patient.PatientFile.DischargeDate" class="text-danger"></span>
            </div>
        </div>
        @if (@Model.Patient.PatientFile.Notes == null)
        {
            <div class="grid grid-cols-6 mt-6 gap-x-6">
                <div class="col-span-4">
                    <label for="notes" class="block text-sm font-medium text-gray-700">Notes: </label>
                    <textarea
                    asp-for="Patient.PatientFile.Notes[0].Text"
                    placeholder="A lot of text"
                    type="text"
                    name="Patient.PatientFile.Notes[0].Text"
                    id="notes"
                    autocomplete="off"
                    class="ipt mt-1 outline-none block focus:ring-indigo-500 focus:border-indigo-500 w-full sm:text-sm"
                ></textarea>
                </div>
                <div class="col-span-2 flex my-auto">
                    <label for="VisibleForPatient" class="block text-sm font-medium text-gray-700 inline w-full">Note visible for patient?</label>
                    @Html.EditorFor(m => m.Patient.PatientFile.Notes[0].VisibleForPatient, new { htmlAttributes = new { @class = "ipt text-sm" } })
                </div>
            </div>
        }
    </div>
    <!-- END DOSSIER STUFF -->
</div>
<script type="application/javascript">
$(document).ready(function() {
    $('.dropdown').select2();
});
</script>