@model TreatmentViewModel 
<form method="post" action="/treatment/postcreate/" class="">
    <input type="hidden" name="Treatment.TreatmentPlanId" value="@Model.Treatment.TreatmentPlanId">
    @Html.AntiForgeryToken()
    <div class="py-5">
        <div>
            <h3 class="text-lg leading-6 font-bold font-source text-fysio-header">Treatment Plan</h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 font-roboto">Treatment details and information.</p>
        </div>
    </div>
    <hr/>
    <div class="py-5 font-roboto">
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                <label for="Type" class="block text-sm font-medium text-gray-700">Type treatment (Vektis)</label>
                @Html.EditorFor(m => m.Treatment.Type, new {htmlAttributes = new {@class = "ipt text-sm", placeholder = "Vektis Code"},})
            </div>
            <div class="col-span-1">
                <label for="practitioner" class="block text-sm font-medium text-gray-700">Practitioner:</label>
                <select
                    id="practitioner"
                    name="Treatment.TherapistId"
                    autocomplete="off"
                    class="ipt mt-1 outline-none block w-full py-2 px-3 bg-white focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    @foreach (var therapist in Model.Therapists)
                    {
                        <option value="@therapist.Id">@therapist.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="mt-6">
            <label for="altmail" class="block text-sm font-medium text-gray-700">Issue description</label>
            <textarea
                asp-for="Treatment.Description"
                placeholder="A lot of text"
                type="text"
                name="Treatment.Description"
                id="altmail"
                autocomplete="off"
                class="ipt mt-1 outline-none block focus:ring-indigo-500 focus:border-indigo-500 w-full sm:text-sm">
            </textarea>
        </div>
    </div>
    <div class="flex mt-2">
        <div class="flex justify-start">
            <a href="/treatmentplan/details/@Model.Treatment.TreatmentPlanId" class="p-2 text-fysio-header font-bold rounded-lg hover:opacity-75 border border-fysio-header transition-opacity duration-100 text-sm px-5">Back</a>
        </div>
        <div class="flex flex-1 justify-end">
            <button style="background-color: #00b4d8" value="Create" type="submit" class="hover:bg-blue-600 rounded-lg text-white p-2 text-center text-sm font-bold">
                Add treatmentplan
            </button>
        </div>
    </div>
</form>